# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/.package-lock.json
node_modules/
node_modules/.package-lock.json
node_modules/@react-three/drei/index.cjs.js
node_modules/@react-three/drei/package.json
node_modules/@react-three/drei/react-three-drei-0.0.0-semantic-release.tgz
node_modules/@react-three/drei/core/SpriteAnimator.cjs.js
node_modules/@react-three/drei/core/SpriteAnimator.js
node_modules/@react-three/drei/core/useSpriteLoader.cjs.js
node_modules/@react-three/drei/core/useSpriteLoader.js
node_modules/@react-three/postprocessing/package.json
node_modules/@react-three/postprocessing/dist/index.cjs
node_modules/@react-three/postprocessing/dist/index.cjs.map
node_modules/@react-three/postprocessing/dist/index.d.ts
node_modules/@react-three/postprocessing/dist/index.js
node_modules/@react-three/postprocessing/dist/index.js.map
node_modules/call-bind/CHANGELOG.md
node_modules/call-bind/index.js
node_modules/call-bind/package.json
node_modules/caniuse-lite/package.json
node_modules/caniuse-lite/data/features/css-cascade-scope.js
node_modules/caniuse-lite/data/features/css-has.js
node_modules/caniuse-lite/data/features/style-scoped.js
node_modules/define-data-property/CHANGELOG.md
node_modules/define-data-property/index.d.ts
node_modules/define-data-property/index.js
node_modules/define-data-property/package.json
node_modules/define-data-property/test/index.js
node_modules/electron-to-chromium/full-chromium-versions.js
node_modules/electron-to-chromium/full-chromium-versions.json
node_modules/electron-to-chromium/full-versions.js
node_modules/electron-to-chromium/full-versions.json
node_modules/electron-to-chromium/package.json
node_modules/has-property-descriptors/CHANGELOG.md
node_modules/has-property-descriptors/index.js
node_modules/has-property-descriptors/package.json
node_modules/three-mesh-bvh/package.json
node_modules/three-mesh-bvh/build/index.module.js
node_modules/three-mesh-bvh/build/index.module.js.map
node_modules/three-mesh-bvh/build/index.umd.cjs
node_modules/three-mesh-bvh/build/index.umd.cjs.map
node_modules/three-mesh-bvh/src/objects/MeshBVHHelper.js
node_modules/three-mesh-bvh/src/utils/StaticGeometryGenerator.js
